name: Create Build Artefacts

on:
    workflow_call:

jobs:
    create-build-artifacts:
        strategy:
            matrix:
                os: [ubuntu-latest]
                node-version: [16.x]

        runs-on: ${{ matrix.os }}

        steps:
            - uses: actions/checkout@v3

            - name: Use Node.js ${{ matrix.node-version }}
              uses: actions/setup-node@v3
              with:
                  node-version: ${{ matrix.node-version }}
                  cache: "yarn"

            - run: yarn install
            - run: yarn run vscode:package

            - uses: actions/upload-artifact@v2
              with:
                  name: sqltools-databricks-driver
                  path: "*.vsix"
