name: Publish nightly release

on:
    push:
        branches: [main]

jobs:
    archive-build-artifacts:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v3

            - name: Use Node.js 14.x
              uses: actions/setup-node@v3
              with:
                  node-version: 14.x

            - run: yarn install
            - run: yarn run vscode:package

            - name: Update nightly release
              uses: eine/tip@master
              with:
                  tag: nightly
                  rm: true
                  token: ${{ secrets.GITHUB_TOKEN }}
                  files: "*.vsix"
